<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [42]:
import pandas as pd

Load the dataset into a dataframe.

In [43]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [44]:
# your code goes here
# your code goes here
df.duplicated(keep = 'first').sum()
#df['Respondent'].duplicated(keep = 'first').sum()
#df

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [27]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [28]:
# your code goes here
df.duplicated(keep = 'first').sum()
#df

0

## Finding Missing values

Find the missing values for all columns.

In [46]:
# your code goes here
df.isna().sum()
#df['EdLevel'].isna().sum()
#df['Country'].isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [47]:
df['EdLevel'].isna().sum()

116

Find out how many rows are missing in the column 'WorkLoc'

In [30]:
# your code goes here
df['WorkLoc'].isna().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [31]:
# your code goes here
df.groupby(['WorkLoc'])[['Respondent']].count()
#df.groupby(['Employment'])[['Respondent']].count()
#df.groupby(['UndergradMajor'])[['Respondent']].count()

                                                Respondent
WorkLoc
Home                                                  3589
Office                                                6806
Other place, such as a coworking space or cafe         971

In [48]:
df.groupby(['Employment'])[['Respondent']].count()

                    Respondent
Employment
Employed full-time       11113
Employed part-time         439

In [49]:
df.groupby(['UndergradMajor'])[['Respondent']].count()

                                                    Respondent
UndergradMajor
A business discipline (ex. accounting, finance,...         247
A health science (ex. nursing, pharmacy, radiol...          24
A humanities discipline (ex. literature, histor...         209
A natural science (ex. biology, chemistry, phys...         409
A social science (ex. anthropology, psychology,...         212
Another engineering discipline (ex. civil, elec...         769
Computer science, computer engineering, or soft...        7053
Fine arts or performing arts (ex. graphic desig...         165
I never declared a major                                   126
Information systems, information technology, or...         806
Mathematics or statistics                                  375
Web development or web design                              417

Identify the value that is most frequent (majority) in the WorkLoc column.

In [32]:
#make a note of the majority value here, for future reference
majority=df['WorkLoc'].value_counts().idxmax()
print("Majority:", majority)

Majority: Office

In [33]:
#alternatively the most frequent can be identify with the code below
df.WorkLoc.mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [35]:
# your code goes here
df['WorkLoc'].fillna(value=6806, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [36]:
# your code goes here
df['WorkLoc'].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [38]:
# your code goes here
df['CompFreq'].unique()
#df.groupby(['CompFreq'])[['Respondent']].count()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [50]:
df.groupby(['CompFreq'])[['Respondent']].count()

          Respondent
CompFreq
Monthly         4846
Weekly           337
Yearly          6163

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [52]:
# your code goes here
import numpy as np
conditions = [
    (df['CompFreq'] == 'Yearly'),
    (df['CompFreq'] == 'Monthly'),
    (df['CompFreq'] == 'Weekly'),
    ]
values = [1, 12, 52]

df['NormalizedAnnualCompensation'] = df['CompTotal'] * np.select(conditions, values) 
df[['CompTotal','CompFreq', 'NormalizedAnnualCompensation']]
#df['NormalizedAnnualCompensation'].median()

       CompTotal CompFreq  NormalizedAnnualCompensation
0        61000.0   Yearly                       61000.0
1       138000.0   Yearly                      138000.0
2        90000.0   Yearly                       90000.0
3        29000.0  Monthly                      348000.0
4        90000.0   Yearly                       90000.0
...          ...      ...                           ...
11547   130000.0   Yearly                      130000.0
11548    74400.0   Yearly                       74400.0
11549   105000.0   Yearly                      105000.0
11550    80000.0   Yearly                       80000.0
11551        NaN      NaN                           NaN

[11552 rows x 3 columns]

In [53]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).